body {
    background-image: url("../img/antoine-rault-IhWRrZx4-kk-unsplash.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100vw 100vh;
}

p {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 48vh 0;
    text-align: center;
} 