@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Poppins;
    font-size: 1.25rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

div {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 200px;
    left: 200px;
    color: white;
}

p {
    position: relative;
    top: 30px;
}