@font-face { font-family: 'Chelsea Market'; src: url('../fonts/ChelseaMarket-Regular.ttf')}
@font-face { font-family: 'Fredoka'; src: url('../fonts/Fredoka-Regular.ttf')}
@font-face { font-family: 'Pacifico'; src: url('../fonts/Pacifico-Regular.ttf')}
@font-face { font-family: 'PressStart2P'; src: url('../fonts/PressStart2P-Regular.ttf')}

h1 {
    line-height: 36px;
    font-family: 'PressStart2P';
    background-color: mediumspringgreen;
    text-align: center;
    font-size: 18px;
}

p {
    font-family: 'Pacifico';
    font-size: 12px;
}

p em {
    font-style: italic;
    font-weight: 900;
    font-family: 'Fredoka';
    text-shadow: 1px -1px red;
}

p strong {
    font-size: 6px;
    font-family: Fredoka;
}

a {
    color: black;
    font-weight: 900;
    font-family: 'Chelsea Market';
    text-decoration: none;
    font-size: 10px;
}