h1 {
    height: 48px;
    font-family: Tahoma;
    background-color: #666;
    color: white;
    text-align: center;
    text-shadow: 5px 5px black;
}

h2 {
    letter-spacing: 5px;
    text-shadow: 2px 2px #444;
}
p:nth-of-type(1) {
    text-indent: 50px;
    word-spacing: 10px;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

p:nth-of-type(2) {
    text-indent: 50px;
    word-spacing: -3px;
}

p:nth-of-type(3) {
    line-height: 24px;
    background-color: #888;
}

p:nth-of-type(4) {
    line-height: 24px;
    background-color: #444;
    color: white;
}
